<h1>SERVICES</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Address</th>
      <th>Information</th>
      <th>Created_At</th>
      <th>Updated_At</th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @services.each do |service| %>
      <tr>
        <td><%= link_to service.name, service %></td>
        <td><%= service.address %></td>
          <% end %>
        </td>
        <td>
      </td>
  </tbody>
</table>



<br>

<%= link_to 'New Service', new_service_path %>
<%= link_to 'Home', root_path %>
