<p>Services</p>
<% @services.each do |service| %>
  <p><a href="<%= service.name %>"><%= service.address %></a> Posted by: <%= link_to "#{service.user.name}", user_path(service.user) %></p> <br>
<% end %>


<br>
<br>
<br>
<br>
<br>
<br>
<th><font size="4"><b>Education</b></font></th>
<br>
<br>
<iframe width="500" height="300" scrolling="no" frameborder="no" src="https://www.google.com/fusiontables/embedviz?q=select+col1+from+1H9_3LGoOZ90io4ncxoIYugia_YrBuwv_croMeH-S&amp;viz=MAP&amp;h=false&amp;lat=40.72002690182591&amp;lng=-73.96325030146488&amp;t=1&amp;z=11&amp;l=col1&amp;y=2&amp;tmplt=2&amp;hml=GEOCODABLE"></iframe>
<br>
<br>
<br>
<br>
<br>
<br>
 <th><font size="4"><b>Health</b></font><b></th>
<br>
<br>
<iframe width="500" height="300" scrolling="no" frameborder="no" src="https://www.google.com/fusiontables/embedviz?q=select+col6+from+1_O5NumVaw1b6ndQ9yhw20xZp5Vqzi9ZgrBtsNhnd&amp;viz=MAP&amp;h=false&amp;lat=40.742759466553174&amp;lng=-73.91896780039065&amp;t=1&amp;z=11&amp;l=col6&amp;y=2&amp;tmplt=2&amp;hml=GEOCODABLE"></iframe><br><br><br><br>
<%= link_to 'New Service', new_service_path %>
