<h1>SERVICES</h1>

<table>
  <thead>
    <tr>
    <ul>
      <th>Education</th>
      <th>Women's Issues</th>
      <th>Health</th>
      <th></th>
      <th></th>
    </ul>
    </tr>
  </thead>

  <tbody>
    <% @services.each do |service| %>
      <tr>
        <td><%= link_to service.name, service %></td>
        <td><%= service.address %></td>
          <% end %>
        </td>
        <td>
      </td>
  </tbody>
</table>



<br>


<div><iframe width="500" height="300" scrolling="no" frameborder="no" src="https://www.google.com/fusiontables/embedviz?q=select+col0+from+1yRBEgAORqSyf12sCiGuJ100O9eBBviE7ATtp2Cv3&amp;viz=MAP&amp;h=false&amp;lat=39.62307473127366&amp;lng=-76.468765625&amp;t=1&amp;z=6&amp;l=col0&amp;y=4&amp;tmplt=4&amp;hml=ONE_COL_LAT_LNG"></iframe></div>

<br>
<br>
<br>


<%= link_to 'New Service', new_service_path %>
