<p><%= link_to "Sign up", new_user_path %></p>
<p><%= link_to "Services", services_path %></p>


<iframe width="500" height="300" scrolling="no" frameborder="no" src="https://www.google.com/fusiontables/embedviz?q=select+col0+from+1yRBEgAORqSyf12sCiGuJ100O9eBBviE7ATtp2Cv3&amp;viz=MAP&amp;h=false&amp;lat=28.7489199219673&amp;lng=-98.35353125&amp;t=1&amp;z=3&amp;l=col0&amp;y=4&amp;tmplt=4&amp;hml=ONE_COL_LAT_LNG"></iframe>
